/auto-save-list/
/elpa/
/elpy/
/games/
/transient/
flycheck_feeds.el
/elfeed/
/eshell/
/url/
/dmenu-items
/elisp-autofmt-cache/
/eln-cache/
/org-roam.db
/racket-mode/
/tramp
/network-security.data
/projects
/image-dired/
/bookmarks
/eww-bookmarks
/auto-save/
/.org-id-locations
